body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 100px;
  background-color: #fdf2f8;
}

button {
  font-size: 20px;
  padding: 10px 25px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

#yes {
  background-color: #22c55e;
  color: white;
}

#no {
  background-color: #ef4444;
  color: white;
}
